.logo{
    width: 200px;
    padding: 15px;
}

.contenedor{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    &-productos {
        width: 200px;
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        img {
            height: 200px;
            width: 100%;
            object-fit:contain;
            border-radius: 20px;
            &:hover {
                transform: scale(1.02);
                transition: all 1s;
            }
        }
        &-descripcion{
            padding: 5px;
            height: 50px;
            h2, p{
                text-align: center;
                margin: 0;
            }
            h2{
                font-size: 1.1rem;
            }
        }
        .add-to-cart{
            background-color: $c-azul;
            border-color: $c-azul;
            border-radius: 10px;
            color: white;
            padding: .3em;
            
        }
    }
}

.titulo{
    text-align: center;
    margin: 0;
    padding-top: 10px;
}
