.logo{
    width: 150px;
    height: 120px;
}
.productos{
    width: 250px;
    margin: 10px;
    img{
        width: 200px;
        height: 200px;
        padding: 10px;
        object-fit: cover;
    }
    &-cuerpo{
        margin-bottom: 10px;
    }
    &-nombre{
        font-size: 1.2rem;
        font-weight: bold;
    }
    &-precio{
        font-size: 1rem;
        text-align: center;
    }
}
.titulo{
    text-align: center;
    margin: 0;
    padding-top: 10px;
}
